<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
	<meta charset="utf-8">
	<title>Fake Hacker News</title>
</head>

<body>
	<h1><a href="/">Fake Hacker News</a></h1>
	<h1> {{ shit }}  000</h1>
	<table border="0">
		<tr>
			<td><a href="newest">Newest</a></td>
			{% if session.logged_in %}
			<td><a href="submit">Submit</a></td>
			<td><a href="logout">Logout</a></td>
			{% else %}
			<td><a href="login">Login</a></td>
			<td><a href="signup">Signup</a></td>
			{% endif %}
		</tr>
	
		{# 还很不完善 #}
		{% for (seqno, entry) in entries %}
		<tr>
			<td>{{ seqno }}</td>
			{% if entry['submitter'] == session['user'] %}
			<td> * </td>
			{% else %}
			<td><img src="static/uparrow.jpg" /></td>
			{% endif %}
			<td>{{ entry['points'] }} points <a href= {{ entry['url'] }} > {{ entry['title'] }}</a> <br></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
