<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
	<meta charset="utf-8">
	<title>Fake Hacker News</title>
</head>

<body>
<table border="0" >		
	<p class="nav"><a href="/"><b>Fake Hacker News</b></a> <a href="newest" style="padding-left:10px">New</a>
	{% if session.logged_in %}
	<a href="submit" style="padding-left:10px">Submit</a>
	<span class="nav_right"><span>{{ session['user'] }} | </span><a href="logout">Logout</a></span>
	{% else %}
	<span class="nav_right"><a href="login">Login</a><a href="signup" style="padding-left: 10px">Signup</a></span>
	{% endif %}

	
		{% for (seqno, entry) in entries %}
		<tr>
			<td style="text-align:right; width:4pt"><span >{{ seqno }}.</span></td>
			{% if entry['submitter'] == session['user'] %}
			<td style="width:4pt"> * </td>
			{% elif session['user'] in entry['upvoters'] %}
			<td style="width:4pt"></td>
			{% else %}
			<td style="width:4pt"><a href="vote?urlid={{entry['_id']}}&dir=up"><img src="static/uparrow.gif" /></a><br><br></td>
			{% endif %}
			<td class ="title"><a href= {{ entry['url'] }} target="_blank" > {{ entry['title'] }}</a> 
				<span class="comhead" > ({{entry['domain']}}) </span><br>
				<span class="subtext">{{ entry['points'] }} points by {{ entry['submitter']}} </span>
				<span class="life"> {{entry['life']}}</span></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
