<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
		<meta charset="utf-8">
			<title>Fake Hacker News</title>
			</head>

			<body>
				<h1><a href="/">Fake Hacker News</a></h1>
				<h2> Signup</h2>
				{% if error %}
				<h3>{{ error }} </h3>
				{% endif %}

				<form action="{{ url_for('signup') }}" method=post>
					<dl>
						<dt>Username:</dt>
							<dd><input type="text" name="username">
						<dt>Password:</dt>
							<dd><input type="password" name="password">
						<dt>Confirm Password</dt>
							<dd><input type="password" name="confirm_password">
						<dd><input type="submit" value="Signup">
					</dl>
				</form>
			</body>
</head>
